<h1>Editing question</h1>

<%= render 'form' %>

<%= link_to 'Show', paper_question_path(@paper, @question), :class => 'btn' %> |
<%= link_to 'Back', author_paper_path(current_author, @paper), :class => 'btn' %>
